header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-left: 20px; 
    padding-right: 20px; 
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

nav {
    display: flex; 
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto; 
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
}
p {
    font-size: 1.2rem; 
}
